<div class="row">
	<div class="col-md-12">
	  <h3>Categories</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table table-striped table-bordered table-condensed" id="categoriesTable">
			<thead>
				<tr>
					<th>Kategorie</th>
					<th><button class="btn btn-primary btnAddCategory" type="button"><i class="glyphicon glyphicon-plus"></i></button></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
