<div class="row">
	<div class="col-md-12">
	  <h3>Records</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table table-striped table-bordered table-condensed" id="recordsTable">
			<thead>
				<tr>
					<th>Moneywiz ucet</th>
					<th>Transfer?</th>
					<th>Popis</th>
					<th>Protistrana</th>
					<th>Kategorie</th>
					<th>Datum</th>
					<th>Castka</th>
					<th><button class="btn btn-primary btnAddRecord" type="button"><i class="glyphicon glyphicon-plus"></i></button></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
