<div id="recordEditDialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 class="modal-title">Edit record</h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal">
			<input type="hidden" class="recordid" value="">
			<div class="control-group">
				<label class="control-label" for="account">Moneywiz ucet</label>
				<div class="controls">
					<input type="text" class="account" value="">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="transfers">Transfer?</label>
				<div class="controls">
					<input type="text" class="transfers" value="">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="desc">Popis</label>
				<div class="controls">
					<input type="text" class="desc" value="">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="payee">Protistrana</label>
				<div class="controls">
					<input type="text" class="payee" value="">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="category">Kategorie</label>
				<div class="controls">
					<input type="text" class="category" value="">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="date">Datum</label>
				<div class="controls">
					<input type="text" class="date" value="">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="amount">Castka</label>
				<div class="controls">
					<input type="text" class="amount" value="">
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btnRecordEditDialogCancel" data-dismiss="modal">Cancel</button>
		<button class="btn btnRecordEditDialogSave">Save changes</button>
	</div>
  	</div><!-- modal-content -->
	</div><!-- modal-dialog -->
</div><!-- modal -->