<div class="panel panel-default">
  <div class="panel-heading">
    <a data-toggle="collapse" data-target="#rulesPanel"><h3 class="panel-title">Rules</h3></a>
  </div>
  <div class="panel-body" id="rulesPanel" class="collapse">
    <div class="row">
    	<div class="col-md-12">
    		<table class="table table-striped table-bordered table-condensed" id="rulesTable">
    			<thead>
    				<tr>
    					<th>Protiucet a kod banky</th>
    					<th>Nazev protiuctu</th>
    					<th>VS</th>
    					<th>KS</th>
    					<th>SS</th>
    					<th>Systemovy popis</th>
    					<th>Popis prikazce</th>
    					<th>Popis pro prijemce</th>
    					<th>AV pole 1</th>
    					<th>Category</th>
    					<th>Payee</th>
    					<th>
    					  <button class="btn btn-primary btnAddRule" type="button"><i class="glyphicon glyphicon-plus"></i></button>
    					  <div class="btn-group">
      					  <button class="btn btn-primary btnDownloadRules" type="button"><i class="glyphicon glyphicon-cloud-download"></i></button>
      					  <button class="btn btn-primary btnUploadRules" type="button"><i class="glyphicon glyphicon-cloud-upload"></i></button>
      					</div>
    					</th>
    				</tr>
    			</thead>
    			<tbody>
    			</tbody>
    		</table>
    	</div>
    </div>
  </div>
</div>
