<div id="ruleEditDialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 class="modal-title">Edit rule</h3>
	</div>
	<div class="modal-body">
		<div class="container">
		<form class="form-horizontal">
		<table>
		<tr>
			<td>
				<div class="control-group">
					<label class="control-label" for="payee_account">Protiucet a kod banky</label>
					<div class="controls">
						<input type="text" class="payee_account" value="">
					</div>
				</div>
			</td>
			<td>
				<div class="control-group">
					<label class="control-label" for="payee_account_name">Nazev protiuctu</label>
					<div class="controls">
						<input type="text" class="payee_account_name" value="">
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="control-group">
					<label class="control-label" for="vs">VS</label>
					<div class="controls">
						<input type="text" class="vs" value="">
					</div>
				</div>
			</td>
			<td>
				<div class="control-group">
					<label class="control-label" for="ks">KS</label>
					<div class="controls">
						<input type="text" class="ks" value="">
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="control-group">
					<label class="control-label" for="ss">SS</label>
					<div class="controls">
						<input type="text" class="ss" value="">
					</div>
				</div>
			</td>
			<td>
				<div class="control-group">
					<label class="control-label" for="desc_system">Systemovy popis</label>
					<div class="controls">
						<input type="text" class="desc_system" value="">
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="control-group">
					<label class="control-label" for="desc_payer">Popis prikazce</label>
					<div class="controls">
						<input type="text" class="desc_payer" value="">
					</div>
				</div>
			</td>
			<td>
				<div class="control-group">
					<label class="control-label" for="desc_payee">Popis pro prijemce</label>
					<div class="controls">
						<input type="text" class="desc_payee" value="">
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<div class="control-group">
					<label class="control-label" for="av">AV pole 1</label>
					<div class="controls">
						<input type="text" class="av" value="">
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="control-group">
					<label class="control-label" for="category">Category</label>
					<div class="controls">
						<select id="ruleCategorySelect"></select>
					</div>
				</div>
			</td>
			<td>
				<div class="control-group">
					<label class="control-label" for="payee">Payee</label>
					<div class="controls">
						<input type="text" class="payee" value="">
					</div>
				</div>
			</td>
		</tr>
		</table>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary btnRuleEditDialogCancel" data-dismiss="modal">Cancel</button>
		<button class="btn btn-primary btnRuleEditDialogSave">Save changes</button>
	</div>
  	</div><!-- modal-content -->
	</div><!-- modal-dialog -->
</div><!-- modal -->