<div class="panel panel-default">
  <div class="panel-heading">
    <a data-toggle="collapse" data-target="#rulesPanel"><h3 class="panel-title">Rules</h3></a>
  </div>
  <div class="panel-body" id="rulesPanel" class="collapse">
    <div class="row">
    	<div class="col-md-12">
    		<table class="table table-striped table-bordered table-condensed" id="rulesTable">
    			<thead>
    				<tr>
    					<th><abbr title="Protiúčet">P:</abbr></th>
    					<th><abbr title="Název protiúčtu">NP:</abbr></th>
    					<th><abbr title="Variabilní symbol">VS:</abbr></th>
    					<th><abbr title="Konstantní symbol">KS:</abbr></th>
    					<th><abbr title="Specifickí symbol">SS:</abbr></th>
    					<th><abbr title="Systémový popis">SP:</abbr></th>
    					<th><abbr title="Popis příkazce">PP:</abbr></th>
    					<th><abbr title="Popis pro příjemce">PPP:</abbr></th>
    					<th><abbr title="AV">AV:</abbr></th>
    					<th>Category</th>
    					<th>Payee</th>
    					<th>
    					  <button class="btn btn-primary btnAddRule" type="button"><i class="glyphicon glyphicon-plus"></i></button>
    					  <div class="btn-group">
      					  <button class="btn btn-primary btnDownloadRules" type="button"><i class="glyphicon glyphicon-cloud-download"></i></button>
      					  <button class="btn btn-primary btnUploadRules" type="button"><i class="glyphicon glyphicon-cloud-upload"></i></button>
      					</div>
    					</th>
    				</tr>
    			</thead>
    			<tbody>
    			</tbody>
    		</table>
    	</div>
    </div>
  </div>
</div>
