body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #333;
}

#recordsTable th > input[type="text"] {
	/*max-width: 10em;*/
	width: 100%;
}

.spinner {
	width: 12px;
	height: 12px;
	display: none;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}